.ag1 {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
}

.ag2 {
  width: 59.18367%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
}

.ag3 {
  width: 18.36735%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

.ag4 {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}

.ag5 {
  width: 48.27586%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

.ag6 {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}

.ag7 {
  width: 65.51724%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

.ag8 {
  width: 47.36842%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}

.ag9 {
  width: 47.36842%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

.ag10 {
  clear: both;
}

html {
  font-family: Arial, Helvetica, serif;
  font-size: 15px;
  background-color: #F3F3F3;
  color: #333;
}

body {
  padding: 20px;
}

.nav {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  list-style: none;
}

.nav > li {
  float: left;
}

.nav > li > a {
  background-color: #2F2F2F;
  color: #fff;
  border-left: 1px solid #fff;
  padding: 10px 15px;
  display: inline-block;
}

.nav > li:first-child > a {
  border-left: none;
}

.nav > li.current > a {
  background-color: #4F4F4F;
}

.btn {
  color: #fff;
  padding: 10px 15px;
  background-color: #2F2F2F;
  display: inline-block;
  margin-top: 5px;
}
